BankingClientASM_MVC/Connected Services/BankingService/BankingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BankingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" />
      <xsd:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBankingService_TransferPaymentOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferPaymentOrder" />
  </wsdl:message>
  <wsdl:message name="IBankingService_TransferPaymentOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferPaymentOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_ShowTransactionHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowTransactionHistory" />
  </wsdl:message>
  <wsdl:message name="IBankingService_ShowTransactionHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowTransactionHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_ShowAccountInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowAccountInformation" />
  </wsdl:message>
  <wsdl:message name="IBankingService_ShowAccountInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowAccountInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_SendConfirmationOTP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmationOTP" />
  </wsdl:message>
  <wsdl:message name="IBankingService_SendConfirmationOTP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendConfirmationOTPResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_TransferNormal_InputMessage">
    <wsdl:part name="parameters" element="tns:TransferNormal" />
  </wsdl:message>
  <wsdl:message name="IBankingService_TransferNormal_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransferNormalResponse" />
  </wsdl:message>
  <wsdl:message name="IBankingService_CheckAccountInfoTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountInfoTransfer" />
  </wsdl:message>
  <wsdl:message name="IBankingService_CheckAccountInfoTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAccountInfoTransferResponse" />
  </wsdl:message>
  <wsdl:portType name="IBankingService">
    <wsdl:operation name="TransferPaymentOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/TransferPaymentOrder" message="tns:IBankingService_TransferPaymentOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/TransferPaymentOrderResponse" message="tns:IBankingService_TransferPaymentOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowTransactionHistory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/ShowTransactionHistory" message="tns:IBankingService_ShowTransactionHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/ShowTransactionHistoryResponse" message="tns:IBankingService_ShowTransactionHistory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowAccountInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/ShowAccountInformation" message="tns:IBankingService_ShowAccountInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/ShowAccountInformationResponse" message="tns:IBankingService_ShowAccountInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationOTP">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/SendConfirmationOTP" message="tns:IBankingService_SendConfirmationOTP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/SendConfirmationOTPResponse" message="tns:IBankingService_SendConfirmationOTP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransferNormal">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/TransferNormal" message="tns:IBankingService_TransferNormal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/TransferNormalResponse" message="tns:IBankingService_TransferNormal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAccountInfoTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IBankingService/CheckAccountInfoTransfer" message="tns:IBankingService_CheckAccountInfoTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBankingService/CheckAccountInfoTransferResponse" message="tns:IBankingService_CheckAccountInfoTransfer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBankingService" type="tns:IBankingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransferPaymentOrder">
      <soap:operation soapAction="http://tempuri.org/IBankingService/TransferPaymentOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowTransactionHistory">
      <soap:operation soapAction="http://tempuri.org/IBankingService/ShowTransactionHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowAccountInformation">
      <soap:operation soapAction="http://tempuri.org/IBankingService/ShowAccountInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendConfirmationOTP">
      <soap:operation soapAction="http://tempuri.org/IBankingService/SendConfirmationOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransferNormal">
      <soap:operation soapAction="http://tempuri.org/IBankingService/TransferNormal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAccountInfoTransfer">
      <soap:operation soapAction="http://tempuri.org/IBankingService/CheckAccountInfoTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankingService">
    <wsdl:port name="BasicHttpBinding_IBankingService" binding="tns:BasicHttpBinding_IBankingService">
      <soap:address location="http://localhost:51232/BankingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>