BankingClientASM_MVC/Connected Services/BankingService/BankingService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" />
  <xs:element name="RequireTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="accountTransaction" nillable="true" type="q1:AccountTransactionDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequireTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="RequireTransactionResult" nillable="true" type="q2:TransactionHistoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowTransactionHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="acc" nillable="true" type="q3:AccountGetTransactionHistoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowTransactionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="ShowTransactionHistoryResult" nillable="true" type="q4:ArrayOfTransactionHistoryDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAccountInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="account" nillable="true" type="q5:AccountLoginDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowAccountInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="ShowAccountInformationResult" nillable="true" type="q6:AccountDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConfirmationPinCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" minOccurs="0" name="account" nillable="true" type="q7:AccountLoginDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendConfirmationPinCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendConfirmationPinCodeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>