BankingClientASM_MVC/Connected Services/BankingService/BankingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BankingServiceASM.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51232/BankingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" />
  <xs:complexType name="AccountTransactionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountPayFees" type="tns:AccountPayFee" />
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiverAccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderAccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderPinCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransactionDto" nillable="true" type="tns:AccountTransactionDto" />
  <xs:simpleType name="AccountPayFee">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ReceiverAccount">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SenderAccount">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AccountPayFee" nillable="true" type="tns:AccountPayFee" />
  <xs:complexType name="TransactionHistoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="CreatedAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Fees" type="xs:double" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" minOccurs="0" name="Receiver" nillable="true" type="q1:Account" />
      <xs:element minOccurs="0" name="ReceiverAccountNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" minOccurs="0" name="Sender" nillable="true" type="q2:Account" />
      <xs:element minOccurs="0" name="SenderAccountNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" minOccurs="0" name="Status" type="q3:TransactionHistoryStatus" />
      <xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransactionHistoryDto" nillable="true" type="tns:TransactionHistoryDto" />
  <xs:complexType name="AccountGetTransactionHistoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountGetTransactionHistoryDto" nillable="true" type="tns:AccountGetTransactionHistoryDto" />
  <xs:complexType name="ArrayOfTransactionHistoryDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionHistoryDto" nillable="true" type="tns:TransactionHistoryDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransactionHistoryDto" nillable="true" type="tns:ArrayOfTransactionHistoryDto" />
  <xs:complexType name="AccountLoginDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountLoginDto" nillable="true" type="tns:AccountLoginDto" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" type="xs:double" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdentityNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PinCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" minOccurs="0" name="ReceiveTransactionHistories" nillable="true" type="q4:ArrayOfTransactionHistory" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" minOccurs="0" name="Status" type="q5:AccountStatus" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BankingServiceASM.Entities" minOccurs="0" name="TransferTransactionHistories" nillable="true" type="q6:ArrayOfTransactionHistory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
</xs:schema>